/battleship/battleship/dist/
/concreteCosting/concreteCosting/dist/
/readWrite/readWrite/dist/
/rockPaperScissors/rockPaperScissors/dist/
/snakesAndLadders/snakesAndLadders/snakesAndLadders/build/
/snakesAndLadders/snakesAndLadders/snakesAndLadders/dist/
/snakesAndLadders/snakesAndLadders/snakesAndLadders/nbproject/private/